%p= t('.greeting', recipient: @resource.email, default: "Welcome #{@resource.email}!")
%p= t('.instruction', default: 'You can confirm your account email through the link below:')
%p= link_to t('.action', default: 'Confirm my account'),confirmation_url(@resource, confirmation_token:  @resource.confirmation_token, locale: I18n.locale) |
%ul 
	Your login information:
	%li 
		Email: 
		%b= @resource.email
	%li 
		Password: 
		%b= @password
%p Please, consider changing your password.
%p Thanks for joining and have a great day!