.page-header
  = link_to new_ticket_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Ticket
  %h1= "Listing #{@desc} (#{@tickets.count})"

= form_tag '', :method => :get do
  %select{name: 'status'}
    %option{value: '', selected: params[:status].blank?}
      ="All (#{@tickets_count})"
    %option{value: 'pending', selected: params[:status]=='pending'}
      = "Pending (#{@pending_tickets_count})"
    %option{value: 'assigned', selected: params[:status]=='assigned'}
      = "Assigned (#{@assigned_tickets_count})"
    %option{value: 'resolved', selected: params[:status]=='resolved'}
      = "Resolved (#{@resolved_tickets_count})"
  %select{name: 'date'}
    %option{value: '', selected: params[:status].blank?}
      ="All Time (#{@tickets_count})"
    %option{value: '1', selected: params[:date]=='1'}
      = "1 Month Ago (#{@month_tickets_count})"
    %option{value: '3', selected: params[:date]=='3'}
      = "3 Months Ago (#{@quarter_tickets_count})"    
  = submit_tag 'Filter'
/ different rendering for each user type
- @mode = current_user.type.downcase
= render "tickets/#{@mode}/index"
