/ The collapsing effect using CSS only
:css
  .collapsable{ cursor: pointer;display: block;background: #cdf;}
  .collapsable + input{display: none; /* hide the checkboxes */}
  .collapsable + input + div{display:none;}
  .collapsable + input:checked + div{display:block;}
/ End of The collapsing effect using CSS only

.page-header
  = link_to new_ticket_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Ticket
  = link_to month_report_tickets_path(:format => 'pdf'), class: 'btn btn-success' do
    %span.glyphicon.glyphicon-list-alt
    Last Month Report
  %h1= "Listing #{@desc} (#{@tickets.count})"

= render "filters_form"

- if @tickets.pending.count > 0
  .panel.panel-default
    %label.panel-heading.collapsable{:for => "_0"}
      = "Pending Tickets (#{@tickets.pending.count}/#{@tickets.count})"
    %input#_0{:name => "_0", :type => "checkbox"}/    
    = render "tickets/#{current_user_type}/tickets_table", listed_tickets: @tickets.pending, resolved: false, assigned: false

- if @tickets.assigned.count > 0
  .panel.panel-default
    / Default panel contents
    %label.panel-heading.collapsable{:for => "_1"}
      = "Assigned Tickets (#{@tickets.assigned.count}/#{@tickets.count})"
    %input#_1{:name => "_1", :type => "checkbox"}/    
    = render "tickets/#{current_user_type}/tickets_table", listed_tickets: @tickets.assigned, resolved: false, assigned: true

- if @tickets.resolved.count > 0
  .panel.panel-default
    / Default panel contents
    %label.panel-heading.collapsable{:for => "_2"}
      = "Resolved Tickets (#{@tickets.resolved.count}/#{@tickets.count})"
    %input#_2{:name => "_2", :type => "checkbox"}/
    = render "tickets/#{current_user_type}/tickets_table", listed_tickets: @tickets.resolved, resolved: true, assigned: true

- if @tickets.count == 0
  .panel.panel-default
    / Default panel contents
    .panel-heading= "Tickets (0)"
    .panel-body
      %p There are no available tickets to be listed here.
- else      
  = link_to tickets_path({format: 'pdf'}.merge(request.query_parameters.slice('status', 'date'))), class: 'btn btn-success' do
    %span.glyphicon.glyphicon-list-alt
    Export as PDF