.page-header
  = link_to tickets_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back  
  %h1 Resolving ticket

%dl.dl-horizontal
  %dt Customer:
  %dd= @ticket.customer
  %dt Desc:
  %dd= @ticket.desc  

= form_for @ticket, url: {action: "resolved"}, html: { class: "form-horizontal", role: "form" } do |f|
  -if @ticket.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@ticket.errors.count, "error")} prohibited this ticket from being saved:"

      %ul
        - @ticket.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :report, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :report, class: 'form-control'  
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Resolve', class: 'btn btn-primary'

