.page-header
  = link_to tickets_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_ticket_path(@ticket), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show ticket

%dl.dl-horizontal
  %dt Desc:
  %dd= @ticket.desc
  %dt Report:
  %dd= @ticket.report
  %dt Customer:
  %dd= @ticket.customer
  %dt Agent:
  %dd= @ticket.agent
  %dt Status:
  %dd= @ticket.status
  %dt Resolution date:
  %dd= @ticket.resolution_date
